<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <label for="">Title</label>
  <%=title%>]
  <br>
  <label for="">Content</label>
  <%=content%>
  <br>
  <label for="">Likes</label>
  <%=likes%>
  <br>
  <label for="">Category</label>
  <%=category%>
    <br />
</body>

</html>
